<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CSV" class="ch.qos.logback.core.FileAppender">
        <file>logs/intellij-log.csv</file>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.core.layout.EchoLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CSV"/>
    </root>

</configuration>